node_modules
dist

// q: what more should i do for my git project?
// q: can you help me with all the steps
// a: 
// 1. git init
// 2. git add .
// 3. git commit -m "initial commit"
// 4. git remote add origin <url>
// 5. git push -u origin master 
